.card {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
}

.card img {
  width: 200px;
  height: 200px;
}
